        #hotel-detail {
            background-color: rgb(132, 136, 139);
            width: 50%;
            height: 20%;
            margin: auto;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        
        .Customer-info {
            margin: 2%;
        }
        
        .Tariff-details {
            margin: 2%;
            border-style: solid;
            border-color: black;
            border-radius: 5px;
            padding: 1% 2% 2% 1%;
        }